*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
  
}


input{display: none;}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    width: fit-content;
}



button{
    font-family: 'Raleway', sans-serif;
    background-color: #e2e2e2;
    padding: 10px 25px;
    font-size: 22px;
    font-weight: 600;
    color: #1b1b1b;
    border-radius: 5px;
    cursor: pointer;
    border: 4px #1b1b1b solid;
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
}

button:hover{
    background-color: #1b1b1b;
    color: #e2e2e2;
    border: 4px #1b1b1b solid;
    box-shadow: 0 7px 7px 0 #333333,0 7px 7px 0 #333333;
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    -moz-transform:translate(0px,5px);
}




 .navbar{
    position: fixed;
    display: flex;
    justify-content: center;
    height: 100vh;
    border-right: 2px solid;
    width: 250px;
    background-color: #e2e2e2;
}



.navbar .nav-list{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 0;
   
}

.navbar  .logo a{
    font-size: 22px;
    color: #1b1b1b;
    font-weight: bold;
}

.navbar .nav-item a{
    color: #1b1b1b;
    font-size: 18px;
    font-weight: 600;
    transition: 0.3s ease;
}

.navbar .nav-item a:hover{
    font-size: 20px;
    color: #000;
    font-weight: 900;
}


.navbar .nav-item .github img{
    transition: 0.3s ease;
    height: 30px;
    width: 30px;
}

.navbar .nav-item .github img:hover{
    height: 35px;
    width: 35px;
}

.navbar .nav-item .linkedin img{
    transition: 0.3s ease;
    height: 30px;
    width: 30px;
}

.navbar .nav-item .linkedin img:hover{
    height: 35px;
    width: 35px;
}

.navbar .nav-item .phone img{
    height: 38px;
    transition: 0.3s ease;
    
}

.navbar .nav-item .phone img:hover{
    height: 42px;
    width: 42px;
}






#hero{
    display: flex;
    flex-direction: row;
    background-color: #e2e2e2;
    height: 900px;
    margin-left: 250px;
    
    
}

#hero .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    gap: 30px;
    padding: 0 80px;
    border-bottom: 2px solid;  
}

#hero  .title{
    font-size: 120px;
    width: 100%;
    margin: 0;
    font-weight: bold;
}

#hero .text .tagline{
    width: 80%;
    font-size: 30px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 15px;
}

#hero .image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;

}

#hero .image img{
    width: 100%;
    height: 100%;
    
    
    
}

#btf{
    display: flex;
    flex-direction: row;
    background-color: #e2e2e2;
    height: 500px;
    margin-left: 250px;
}

#btf .text{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
}

#btf .text .title{
    font-size: 70px;
    margin: 0;
}

#btf .text p{
    width: 65%;
    font-weight: 600;
    font-size: 22px;
    line-height: 40px;
}

#work{
    display: flex;
    flex-direction: row;
    background-color: #e2e2e2;
    border-top: 2px solid #1b1b1b;
    margin-left: 250px;
    
}

#work .projects{
    display: flex;
    flex-direction: column;
    width: 75%;
}

#work .projects .section-title{
    display: flex;
    align-items: center;
    height: 200px;
    border-bottom: 2px solid #1b1b1b;
    border-right: 2px solid #1b1b1b;
}

#work .projects .section-title h2{
    font-size: 70px;
    padding: 0 80px;
    margin: 0;
}

#work .project{
    display: flex;
    flex-direction: row;
    border-right: 2px solid #1b1b1b;
    border-bottom: 2px solid #1b1b1b;
}

#work .project:nth-child(4){
    border-bottom: none;
}

#work .project .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    width: 70%;
    padding-left: 80px;
   
}

#work .project .text .title{
    display: flex;
    flex-direction: row;
    align-items: center; 
    gap: 30px;
}

#work .project .text .title h3{
    font-size: 30px;
    font-weight: bolder;
    margin: 0;
}

#work .project .text .title h4{
    font-size: 20px;
    color: #868686;
    margin: 0;
}

#work .project .paragraph{
    width: 100%;
    
}
#work .project .paragraph p{
    font-size: 16px;
    width: 85%;
    line-height: 24px;
}

#work .project .text a button{
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 600;
    border: 3px #1b1b1b solid;
   
}

#work .project .image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: auto;
    
}

#work .project .image img{
    height: 80%;
    width: 80%;
    padding-right: 40px;
}

#work .skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
}

#work .skills h3{
    font-size: 45px;
}


#work .skills .cards{
    display: grid;
    grid-template-columns: auto auto;
}

#work .skills .cards .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 40px;
    cursor: pointer;
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
}

#work .skills .cards .card:hover{
    transform: translatey(-15px);
    -webkit-transform: translatey(-15px);
    -moz-transform: translatey(-15px);
}

#work .skills .cards .card img{
    height: 50px;
    width: 50px;
}

#work .skills .cards .card p{
    font-size: 16px;
    
}


#about{
    display: flex;
    flex-direction: row;
    height:800px;
    margin-left: 250px;
    background-image: url(./images/89965d73-447b-4344-b393-da9bd03732ad.jpg);
    background-size: 100% 900px;
    background-repeat: no-repeat;
}

#about .container{
    width: 75%;
}

#about  .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: right;
    width: 25%;
    gap: 15px;
    padding-right: 40px;
   
}

#about .text h3{
    margin: 0;
    width:380px;
    font-size: 60px;
    font-weight: normal;
    line-height: 70px;
    
}

#about .text span{
    font-weight: bold;
    font-size: 62px;
}

#about  .text p{
    margin: 0;
    width: 380px;
    font-size: 19px;
    font-weight: 500;
    line-height: 32px;
}

#about .text a{
    width: 380px;
    margin-top: 10px;
}

#about .text a button{
    font-weight: 600;
    padding: 15px 30px;
    border: none;
    color: #e2e2e2;
    background-color: #1b1b1b;
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
}
#about .text a button:hover{
    background-color: #e2e2e2;
    color: #1b1b1b;
    box-shadow: 0 7px 7px 0 #333333,0 7px 7px 0 #333333;
    transform: translate(0px,3px);
    -webkit-transform: translate(0px,3px);
    -moz-transform:translate(0px,3px);
}


#footer{
    margin-left: 250px;
    height: 350px;
    display: flex;
    flex-direction: row;
    background-color: #e2e2e2;
}

#footer .contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    gap: 10px;
    border-right: 2px solid #1b1b1b;
    padding: 0 40px;
}

#footer .contact h3{
    margin: 0;
    font-weight: 700;
    font-size: 70px;
    line-height: 97px;
    text-align: center;
}

#footer .contact p{
    margin: 0;
    width: 90%;
    height: 80px;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
}

#footer .contact p span{
    font-weight: bolder;
}

#footer .nav{
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
}

#footer .nav .nav-list{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 50%;
}

#footer .nav .text-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50%;
    padding: 0 40px;
    gap: 20px;
    border-top: 2px solid #1b1b1b;
    
}

#footer .nav .nav-list .nav-item a{
    color: #1b1b1b;
    transition: 0.3s ease;
}

#footer .nav .nav-list .nav-item a:hover{
    font-weight: bold;
}


#footer .nav .text-right h4{
    margin: 0;
    font-size: 16px;
    font-weight:normal;
    line-height: 25px;
    
}

#footer .nav .text-right p{
   margin: 0;
   font-size: 16px;
}

@media screen and (max-width: 546px) {

    .navbar{
        height: 85px;
        width: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
        padding-left: 40px;
        border-right: none;
        border-bottom: 2px solid #1b1b1b;
        transition: 0.5s ease;
    }

    .navbar.active{
        box-shadow: 0 5px 10px rgb(0 0 0 / 25%);;
        transition: 0.5s;
    }

    .navbar .nav-list{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: row;
    }

    .navbar .nav-list .nav-item{
        display: none;
    }

    #hero{
        margin: 0;
        height: 450px;
    }


    #hero .text{
        display: flex;
        justify-content: center;
        height: 100%;
        width: 100%;
        margin-top: 85px;
        padding-left: 40px;
        gap: 20px;
    }
   
    #hero .text .title{
        font-size: 50px;
        width: 300px;
    }

    #hero .text .tagline{
        font-size: 20px;
        width: 100%;
    }

    #hero .text button{
        padding: 8px 12px;
        font-size: 20px;
    }

    #hero .image{
        display: none;
    }

    #btf{
        margin: 0;
        height: 750px;
    }

    #btf .text{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 100px
    }

    #btf .text .title{
        font-size: 45px;
    }

    #btf .text p {
        width: 100%;
        margin: 0;
        padding: 20px 30px;
        font-size: 20px;
        line-height: 32px;
        font-weight: 500;
    }


    #work{
        margin: 0;
    }

    #work .skills{
        display: none;
    }

    #work .projects{
        width: 100%;
    }

    #work .projects .section-title {
        display: flex;
        align-items: center;
        height: 150px;
        border-bottom: 2px solid #1b1b1b;
        border-right: none;
        padding: 0 40px;
    }

    #work .projects .section-title h2{
        padding: 0;
        font-size: 45px;
    }

    #work .project{
        border-right: none;
    }

    #work .project .image{
        display: none;
    }

    #work .projects .project .text{
        height: 400px;
        width: 100%;
        padding: 0 40px;
        gap: 10px;
    }

    #work .projects #right .text{
        align-items: flex-end;
        padding: 0 40px;
       
    }

    #work .projects .project .text .title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 10px;
    }

    #work .projects .project .text .title h3{
        font-size: 25px;
    }
    
    #work .projects .project .paragraph p {
        font-size: 14px;
        width: 100%;
      
    }

    #work .projects #right .paragraph p{
        padding-right: 0;
        text-align: right;
    }

    #work .project:nth-child(4){
        border-bottom: 2px solid #1b1b1b;
    }

    #about{
        width: 100%;
        height: 800px;
        background-color: #e2e2e2;
        margin: 0;
        background-image: none;
        border-bottom: 2px solid #1b1b1b;
    }
    
    #about .container{
    display: none;
    }

    #about .text{
        width: 100%;
        padding: 0 40px;
        text-align: left;
        align-items: flex-start;
    }
   
    #about .text h3{
        width: 100%;
        font-size: 45px;
        line-height: 50px;
    }

    #about .text span{
        font-size: 50px;
    }

    #about .text p{
        width: auto;
    }
    #about .text a{
        width: auto;
    }
    #about .text a button{
        padding: 10px 12px;
        font-size: 20px;
    }

    #footer{
        height: 850px;
        margin: 0;
        flex-direction: column;
    }

    #footer .contact{
        width: 100%;
        height: 50%;
        border-right: none;
        border-bottom: 2px solid #1b1b1b;
        gap: 15px;
    }

    #footer .contact h3{
        font-size: 45px;
        line-height: 50px;
    }

    #footer .contact p{
        height: auto;
        line-height: 32px;
    }

    #footer .nav{
        width: 100%;
        height: 50%;
    }

    #footer .nav .nav-list{
        height: 30%;
        gap: 20px;
    }

    #footer .nav .text-right{
        height: 70%;
        padding: 0 20px;
    }

}
    @media screen and (min-width: 546px) and (max-width:669px) {

        .navbar{
            height: 85px;
            width: 100%;
            display: flex;
            justify-content: start;
            align-items: center;
            padding-left: 40px;
            border-right: none;
            border-bottom: 2px solid #1b1b1b;
            transition: 0.5s;
        }

        .navbar.active{
            box-shadow: 0 5px 10px rgb(0 0 0 / 25%);;
            transition: 0.5s;
        }

        .navbar .nav-list{
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: row;
        }
    
        .navbar .nav-list .nav-item{
            display: none;
        }
    
        #hero{
            margin: 0;
            height: 450px;
        }
    
    
        #hero .text{
            display: flex;
            justify-content: center;
            height: 100%;
            width: 100%;
            margin-top: 85px;
            padding-left: 40px;
            gap: 20px;
        }
       
        #hero .text .title{
            font-size: 60px;
            width: 100%;
        }
    
        #hero .text .tagline{
            font-size: 20px;
            width: 70%;
        }
    
        #hero .text button{
            padding: 8px 12px;
            font-size: 20px;
        }
    
        #hero .image{
            display: none;
        }
    
        #btf{
            margin: 0;
            height: 550px;
        }
    
        #btf .text{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 100px
        }
    
        #btf .text .title{
            font-size: 50px;
        }
    
        #btf .text p {
            width: 100%;
            margin: 0;
            padding: 20px 30px;
            font-size: 20px;
            line-height: 32px;
            font-weight: 500;
        }
    
        #work{
            margin: 0;
        }
    
        #work .skills{
            display: none;
        }
    
        #work .projects{
            width: 100%;
        }
    
        #work .projects .section-title {
            display: flex;
            align-items: center;
            height: 150px;
            border-bottom: 2px solid #1b1b1b;
            border-right: none;
            padding-left: 40px;
        }
    
        #work .projects .section-title h2{
            padding: 0;
            font-size: 50px;
        }
    
        #work .project{
            border-right: none;
        }
    
        #work .project .image{
            display: none;
        }
    
        #work .projects .project .text{
            height: 400px;
            width: 100%;
            padding: 0 40px;
            gap: 10px;
        }
    
        #work .projects #right .text{
            align-items: flex-end;
            padding: 0 40px;
        }
    
        #work .projects .project .text .title {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 10px;
        }
    
        #work .projects .project .text .title h3{
            font-size: 25px;
        }
        
        #work .projects .project .paragraph p {
            font-size: 14px;
            width: 100%;
          
        }
    
        #work .projects #right .paragraph p{
            
            padding-right: 0;
            text-align: right;
        }
    
        #work .project:nth-child(4){
            border-bottom: 2px solid #1b1b1b;
        }
    
        #about{
            width: 100%;
            height: 500px;
            background-color: #e2e2e2;
            margin: 0;
            background-image: none;
            border-bottom: 2px solid #1b1b1b;
        }
        
        #about .container{
        display: none;
        }
    
        #about .text{
            width: 100%;
            padding: 0 40px;
            text-align: left;
            align-items: flex-start;
        }
       
        #about .text h3{
            width: 100%;
            font-size: 50px;
            line-height: 50px;
        }
    
        #about .text span{
            font-size: 50px;
        }
    
        #about .text p{
            width: auto;
        }
        #about .text a{
            width: auto;
        }
        #about .text a button{
            padding: 10px 12px;
            font-size: 20px;
        }
    
        #footer{
            height: 750px;
            margin: 0;
            flex-direction: column;
        }
    
        #footer .contact{
            width: 100%;
            height: 50%;
            border-right: none;
            border-bottom: 2px solid #1b1b1b;
            gap: 15px;
        }
    
        #footer .contact h3{
            font-size: 50px;
            line-height: 50px;
        }
    
        #footer .contact p{
            height: auto;
            line-height: 32px;
        }
    
        #footer .nav{
            width: 100%;
            height: 50%;
        }
    
        #footer .nav .nav-list{
            height: 30%;
        }
    
        #footer .nav .text-right{
            height: 70%;
        }
    }    

    @media screen and (min-width: 669px) and (max-width:796px) {

        .navbar{
            height: 85px;
            width: 100%;
            display: flex;
            justify-content: start;
            align-items: center;
            padding-left: 40px;
            border-right: none;
            border-bottom: 2px solid #1b1b1b;
             transition: 0.5s;
        }

        .navbar.active{
            box-shadow: 0 5px 10px rgb(0 0 0 / 25%);;
            transition: 0.5s;
        }
    
        .navbar .nav-list{
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: row;
        }
    
        .navbar .nav-list .nav-item{
            display: none;
        }
    
        #hero{
            margin: 0;
            height: 450px;
        }
    
    
        #hero .text{
            display: flex;
            justify-content: center;
            height: 100%;
            width: 100%;
            margin-top: 85px;
            padding-left: 40px;
            gap: 20px;
        }
       
        #hero .text .title{
            font-size: 60px;
            width: 70%;
        }
    
        #hero .text .tagline{
            font-size: 20px;
            width: 55%;
        }
    
        #hero .text button{
            padding: 8px 12px;
            font-size: 20px;
        }
    
        #hero .image{
            display: none;
        }
    
        #btf{
            margin: 0;
            height: 550px;
        }
    
        #btf .text{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 85px
        }
    
        #btf .text .title{
            font-size: 50px;
        }
    
        #btf .text p {
            width: 100%;
            margin: 0;
            padding: 20px 30px;
            font-size: 20px;
            line-height: 32px;
            font-weight: 500;
        }
    
        #work{
            margin: 0;
        }
    
        #work .skills{
            display: none;
        }
    
        #work .projects{
            width: 100%;
        }
    
        #work .projects .section-title {
            display: flex;
            align-items: center;
            height: 150px;
            border-bottom: 2px solid #1b1b1b;
            border-right: none;
            padding-left: 40px;
        }
    
        #work .projects .section-title h2{
            padding: 0;
            font-size: 50px;
        }
    
        #work #right{
            flex-direction: row-reverse;
            justify-content: flex-end;
            
        }

        #work .project{
            width: 100%;
            border-right: none;
        }

    
        #work .project .image{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40%;
            height: 100%;
        }

        #work .project .image img {
            height: 70%;
            width: 70%;
            padding: 0;
        }
    
        #work .projects .project .text{
            height: 400px;
            width: 100%;
            padding-left: 40px;
            gap: 10px;
            width: 60%;
        }
    
        #work .projects #right .text{
            align-items: flex-end;
            padding-right: 40px;
            padding-left: 0;
        }
    
        #work .projects .project .text .title {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 10px;
        }
    
        #work .projects .project .text .title h3{
            font-size: 25px;
        }
        
        #work .projects .project .paragraph p {
            font-size: 14px;
            width: 100%;
            padding-right: 40px;
        }
    
        #work .projects #right .paragraph p{
            width: 100%;
            padding-left: 40px;
            padding-right: 0;
            text-align: right;
        }
    
        #work .project:nth-child(4){
            border-bottom: 2px solid #1b1b1b;
        }
    
        #about{
            width: 100%;
            height: 500px;
            background-color: #e2e2e2;
            margin: 0;
            background-image: none;
            border-bottom: 2px solid #1b1b1b;
        }
        
        #about .container{
        display: none;
        }
    
        #about .text{
            width: 100%;
            padding: 0 40px;
            text-align: left;
            align-items: flex-start;
        }
       
        #about .text h3{
            width: 100%;
            font-size: 50px;
            line-height: 50px;
        }
    
        #about .text span{
            font-size: 50px;
        }
    
        #about .text p{
            width: auto;
        }
        #about .text a{
            width: auto;
        }
        #about .text a button{
            padding: 10px 12px;
            font-size: 20px;
        }
    
        #footer{
            height: 650px;
            margin: 0;
            flex-direction: column;
        }
    
        #footer .contact{
            width: 100%;
            height: 50%;
            border-right: none;
            border-bottom: 2px solid #1b1b1b;
            gap: 15px;
        }
    
        #footer .contact h3{
            font-size: 50px;
            line-height: 50px;
        }
    
        #footer .contact p{
            height: auto;
            line-height: 32px;
        }
    
        #footer .nav{
            width: 100%;
            height: 50%;
        }
    
        #footer .nav .nav-list{
            height: 30%;
        }

        #footer .nav .nav-list .nav-item a{
            font-size: 18px;
            
        }
    
        #footer .nav .text-right{
            height: 70%;
        }
    }    

    @media screen and (min-width: 797px) and (max-width:927px) {

        .navbar{
            height: 85px;
            width: 100%;
            display: flex;
            justify-content: start;
            align-items: center;
            padding-left: 40px;
            border-right: none;
            border-bottom: 2px solid #1b1b1b;
             transition: 0.5s;
        }

        .navbar.active{
            box-shadow: 0 5px 10px rgb(0 0 0 / 25%);;
            transition: 0.5s;
        }
    
        .navbar .nav-list{
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: row;
        }
    
        .navbar .nav-list .nav-item{
            display: none;
        }
    
        #hero{
            margin: 0;
            height: 450px;
            width: 100%;
        }

        #hero .image{
            display: block;
            width: 50%;
            height: 100%;
            margin-top: 85px;
        }

        #hero .image img{
            width: 100%;
            height: 100%;
        }

        #hero .text{
            display: flex;
            justify-content: center;
            height: 100%;
            width: 50%;
            margin-top: 85px;
            padding: 0 40px;
            gap: 20px;
        }
       
        #hero .text .title{
            font-size: 60px;
            width: 100%;
        }
    
        #hero .text .tagline{
            font-size: 20px;
            width: 100%;
        }
    
        #hero .text button{
            padding: 8px 12px;
            font-size: 20px;
        }
    
    
        #btf{
            margin: 0;
            height: 550px;
        }
    
        #btf .text{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 85px
        }
    
        #btf .text .title{
            font-size: 50px;
        }
    
        #btf .text p {
            width: 100%;
            margin: 0;
            padding: 20px 30px;
            font-size: 20px;
            line-height: 32px;
            font-weight: 500;
        }
    
    
        #work{
            margin: 0;
        }
    
        #work .skills{
            display: none;
        }
    
        #work .projects{
            width: 100%;
        }
    
        #work .projects .section-title {
            display: flex;
            align-items: center;
            height: 150px;
            border-bottom: 2px solid #1b1b1b;
            border-right: none;
            padding-left: 40px;
        }
    
        #work .projects .section-title h2{
            padding: 0;
            font-size: 50px;
        }
    
        #work #right{
            flex-direction: row-reverse;
            justify-content: flex-end;
            
        }

        #work .project{
            width: 100%;
            border-right: none;
        }

    
        #work .project .image{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40%;
            height: 100%;
        }

        #work .project .image img {
            height: 70%;
            width: 70%;
            padding: 0;
        }
    
        #work .projects .project .text{
            height: 400px;
            width: 100%;
            padding-left: 40px;
            gap: 10px;
            width: 60%;
            
        }
    
        #work .projects #right .text{
            align-items: flex-end;
            padding-right: 40px;
            padding-left: 0;
        }

        #work .projects #right .text .title{
            align-items: flex-end;
        }
    
        #work .projects .project .text .title {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 10px;
        }
    
        #work .projects .project .text .title h3{
            font-size: 25px;
        }
        
        #work .projects .project .paragraph p {
            font-size: 14px;
            width: 100%;
            padding-right: 40px;
        }
    
        #work .projects #right .paragraph p{
            width: 100%;
            padding-left: 40px;
            padding-right: 0;
            text-align: right;
        }
    
        #work .project:nth-child(4){
            border-bottom: 2px solid #1b1b1b;
        }
    
        #about{
            width: 100%;
            height: 500px;
            background-color: #e2e2e2;
            margin: 0;
            background-image: none;
            border-bottom: 2px solid #1b1b1b;
        }
        
        #about .container{
        display: none;
        }
    
        #about .text{
            width: 100%;
            padding: 0 40px;
            text-align: left;
            align-items: flex-start;
        }
       
        #about .text h3{
            width: 100%;
            font-size: 50px;
            line-height: 50px;
        }
    
        #about .text span{
            font-size: 50px;
        }
    
        #about .text p{
            width: auto;
        }
        #about .text a{
            width: auto;
        }
        #about .text a button{
            padding: 10px 12px;
            font-size: 20px;
        }
    
        #footer{
            height: 650px;
            margin: 0;
            flex-direction: column;
        }
    
        #footer .contact{
            width: 100%;
            height: 50%;
            border-right: none;
            border-bottom: 2px solid #1b1b1b;
            gap: 15px;
        }
    
        #footer .contact h3{
            font-size: 50px;
            line-height: 50px;
        }
    
        #footer .contact p{
            height: auto;
            line-height: 32px;
        }
    
        #footer .nav{
            width: 100%;
            height: 50%;
        }
    
        #footer .nav .nav-list{
            height: 30%;
        }

        #footer .nav .nav-list .nav-item a{
            font-size: 18px;
            font-weight: 600;
        }
    
        #footer .nav .text-right{
            height: 70%;
            align-items: center;
        }

        #footer .nav .text-right h4{
            font-size: 20px;
        }

        #footer .nav .text-right p{
            font-size: 20px;
        }
    }    

    @media screen and (min-width: 928px) and (max-width:1024px) {

        .navbar{
            height: 85px;
            width: 100%;
            display: flex;
            justify-content: start;
            align-items: center;
            padding-left: 40px;
            border-right: none;
            border-bottom: 2px solid #1b1b1b;
             transition: 0.5s;
        }

        .navbar.active{
            box-shadow: 0 5px 10px rgb(0 0 0 / 25%);;
            transition: 0.5s;
        }
    
        .navbar .nav-list{
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: row;
        }
    
        .navbar .nav-list .nav-item{
            display: none;
        }
    
        #hero{
            margin: 0;
            height: 450px;
            width: 100%;
        }

        #hero .image{
            display: block;
            width: 50%;
            height: 100%;
            margin-top: 85px;
        }

        #hero .image img{
            width: 100%;
            height: 100%;
        }

        #hero .text{
            display: flex;
            justify-content: center;
            height: 100%;
            width: 50%;
            margin-top: 85px;
            padding-left: 40px;
            gap: 20px;
        }
       
        #hero .text .title{
            font-size: 60px;
            width: 100%;
        }
    
        #hero .text .tagline{
            font-size: 20px;
            width: 100%;
        }
    
        #hero .text button{
            padding: 8px 12px;
            font-size: 20px;
        }
    
       
    
        #btf{
            margin: 0;
            height: 550px;
        }
    
        #btf .text{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 85px
        }
    
        #btf .text .title{
            font-size: 50px;
        }
    
        #btf .text p {
            width: 100%;
            margin: 0;
            padding: 20px 60px;
            font-size: 20px;
            line-height: 32px;
            font-weight: 500;
        }
    
    
        #work{
            margin: 0;
        }
    
        #work .skills{
            display: none;
        }
    
        #work .projects{
            width: 100%;
        }
    
        #work .projects .section-title {
            display: flex;
            align-items: center;
            height: 150px;
            border-bottom: 2px solid #1b1b1b;
            border-right: none;
            padding-left: 40px;
        }
    
        #work .projects .section-title h2{
            padding: 0;
            font-size: 50px;
        }
    
        #work #right{
            flex-direction: row-reverse;
            justify-content: flex-end;
            
        }

        #work .project{
            width: 100%;
            border-right: none;
        }

    
        #work .project .image{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40%;
            height: 100%;
        }

        #work .project .image img {
            height: 70%;
            width: 70%;
            padding: 0;
        }
    
        #work .projects .project .text{
            height: 400px;
            width: 100%;
            padding-left: 40px;
            gap: 10px;
            width: 60%;
            
        }
    
        #work .projects #right .text{
            align-items: flex-end;
            padding-right: 40px;
            padding-left: 0;
        }
    
        #work .projects .project .text .title {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 10px;
        }
    
        #work .projects .project .text .title h3{
            font-size: 25px;
        }
        
        #work .projects .project .paragraph p {
            font-size: 16px;
            width: 100%;
            padding-right: 40px;
        }
    
        #work .projects #right .paragraph p{
            width: 100%;
            padding-left: 40px;
            padding-right: 0;
            text-align: right;
        }
    
        #work .project:nth-child(4){
            border-bottom: 2px solid #1b1b1b;
        }
    
        #about{
            width: 100%;
            height: 500px;
            background-color: #e2e2e2;
            margin: 0;
            background-image: none;
            border-bottom: 2px solid #1b1b1b;
        }
        
        #about .container{
        display: none;
        }
    
        #about .text{
            width: 100%;
            padding: 0 40px;
            text-align: left;
            align-items: flex-start;
        }
       
        #about .text h3{
            width: 100%;
            font-size: 50px;
            line-height: 50px;
        }
    
        #about .text span{
            font-size: 50px;
        }
    
        #about .text p{
            width: auto;
        }
        #about .text a{
            width: auto;
        }
        #about .text a button{
            padding: 10px 12px;
            font-size: 20px;
        }
    
        #footer{
            height: 650px;
            margin: 0;
            flex-direction: column;
        }
    
        #footer .contact{
            width: 100%;
            height: 50%;
            border-right: none;
            border-bottom: 2px solid #1b1b1b;
            gap: 15px;
        }
    
        #footer .contact h3{
            font-size: 50px;
            line-height: 50px;
        }
    
        #footer .contact p{
            height: auto;
            line-height: 32px;
        }
    
        #footer .nav{
            width: 100%;
            height: 50%;
        }
    
        #footer .nav .nav-list{
            height: 30%;
        }

        #footer .nav .nav-list .nav-item a{
            font-size: 18px;
            font-weight: 600;
        }
    
        #footer .nav .text-right{
            height: 70%;
            align-items: center;
        }

        #footer .nav .text-right h4{
            font-size: 20px;
        }

        #footer .nav .text-right p{
            font-size: 20px;
        }
    }    

    @media screen and (min-width: 1025px) and (max-width: 1400px){

        button{
            padding: 8px 15px;
            font-size: 20px;
        }

        .navbar{
            width: 200px;
        }

        .navbar .logo a {
            font-size: 20px;
        }

        #hero{
            height: 650px;
            margin-left: 200px;
        }

        #hero .text {
            height: auto;
            gap: 20px;
            padding: 0 40px;
        }

        #hero .title{
            font-size: 75px;
            width: 100%;
        }

        #hero .text .tagline {
            width: 90%;
            font-size: 20px;
        }

        #btf{
            height: 380px;
            margin-left: 200px;
        }

        #btf .text .title{
            font-size: 50px;
        }

        #btf .text p{
            font-size: 18px;
            line-height: 30px;
        }

        #work{
            margin-left: 200px;
        }

        #work .projects .section-title{
            height: 100px;
        }

        #work .projects .section-title h2{
            font-size: 50px;
            padding-left: 40px;
        }

        #work .project .text{
            padding-left: 40px;

        }

        #work .project .text .title h3 {
            font-size: 25px;
        }

        #work .project .text .title h4 {
            font-size: 15px;
        }

        #work .project .paragraph p {
            font-size: 14px;
            width: 90%;
        }

        #work .project .text a button {
            padding: 6px 16px;
            font-size: 14px;
        }

        #work .skills h3 {
            font-size: 35px;
        }

        #about{
            height: 600px;
            margin-left: 200px;
            background-image: url(./images/89965d73-447b-4344-b393-da9bd03732ad.jpg);
            background-size: 100% 600px;
        }

        #about .text {
            gap: 10px;
            padding-right: 20px;
            align-items: flex-end;
        }

        #about .text h3 {
            width: auto;
            font-size: 38px;
            line-height: normal;
        }

        #about .text span{
            font-size: 40px;
        }

        #about .text p {
            width: auto;
            font-size: 14px;
            line-height: 16px;
        }

        #about .text a{
            width: auto;
        }

        #about .text a button{
            padding: 8px 15px;
            font-size: 20px;
        }

        #footer{
            height: 300px;
            margin-left: 200px;
        }

        #footer .contact{
            gap: 0;
        }

        #footer .contact h3{
            font-size: 50px;
        }

        #footer .contact p{
            font-size: 18px;
            line-height: 30px;
        }

        #footer .nav .nav-list{
            gap: 10px;
        }

        #footer .nav .nav-list .nav-item a{
            font-size: 14px;
        }

        #footer .nav .nav-list .nav-item a img{
            height: 22px;
            width: 22px;
        }


        #footer .nav .text-right{
            padding: 0 15px;
        }

        #footer .nav .text-right h4{
            font-size: 14px;
        }

        #footer .nav .text-right p{
            font-size: 14px;
        }

    } 
    
    @media screen and (min-width: 1401px) and (max-width: 1600px){

        button{
            padding: 8px 15px;
            font-size: 20px;
        }

        .navbar{
            width: 250px;
        }

        .navbar .logo a {
            font-size: 22px;
        }

        #hero{
            height: 750px;
            margin-left: 250px;
        }

        #hero .text {
            height: auto;
            gap: 20px;
            padding: 0 40px;
        }

        #hero .title{
            font-size: 100px;
            width: 100%;
        }

        #hero .text .tagline {
            width: 80%;
            font-size: 20px;
        }

        #btf{
            height: 450px;
            margin-left: 250px;
        }

        #btf .text .title{
            font-size: 60px;
        }

        #btf .text p{
            font-size: 22px;
            line-height: 40px;
        }

        #work{
            margin-left: 250px;
        }

        #work .projects .section-title{
            height: 150px;
        }

        #work .projects .section-title h2{
            font-size: 60px;
            padding-left: 40px;
        }

        #work .project .text{
            padding-left: 40px;
        }

        #work .project .text .title h3 {
            font-size: 30px;
        }

        #work .project .text .title h4 {
            font-size: 20px;
        }

        #work .project .paragraph p {
            font-size: 16px;
        }

        #work .project .text a button {
            padding: 8px 20px;
            font-size: 16px;
        }

        #work .skills h3 {
            font-size: 35px;
        }

        #about{
            height: 700px;
            margin-left: 250px;
            background-image: url(./images/89965d73-447b-4344-b393-da9bd03732ad.jpg);
            background-size: 100% 700px;
        }

        #about .text {
            gap: 10px;
            padding-right: 30px;
            align-items: flex-end;
        }

        #about .text h3 {
            width: auto;
            font-size: 50px;
            line-height: normal;
        }

        #about .text span{
            font-size: 52px;
        }

        #about .text p {
            width: auto;
            font-size: 16px;
            line-height: 24px;
        }

        #about .text a{
            width: auto;
        }

        #about .text a button{
            padding: 10px 15px;
            font-size: 20px;
        }

        #footer{
            height: 350px;
            margin-left: 250px;
        }

        #footer .contact{
            gap: 10px;
        }

        #footer .contact h3{
            font-size: 60px;
        }

        #footer .contact p{
            font-size: 22px;
            line-height: 36px;
        }

        #footer .nav .nav-list{
            gap: 14px;
        }

        #footer .nav .nav-list .nav-item a{
            font-size: 16px;
        }

        #footer .nav .text-right{
            padding: 0 15px;
        }

        #footer .nav .text-right h4{
            font-size: 16px;
        }

        #footer .nav .text-right p{
            font-size: 16px;
        }
    }
       
        


    @media screen and (min-width: 1601px) and (max-width: 1699px){

        #hero{
            height: 800px;
        }

        #hero .title{
            font-size: 110px;
            width: 100%;
        }

        #about .text{
            padding: 0 30px;
            align-items: flex-end;
        }

        #about .text h3{
           width: auto;
            font-size: 58px;
        }

        #about .text span{
            font-size: 62px;
        }

        #about .text p{
            width: auto;
            font-size: 16px;
            line-height: 28px;
        }

        #footer .nav .nav-list{
            gap: 20px;
        }
        
    }

            
    

    


   


