*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
}

:root{
    --primary-color:#e2e2e2;
    --secondary-color:#1b1b1b;
    --title-color:#0c0c0c;
    --hover-color:#0c0c0c;
    --navbar-shadow: 0 5px 10px rgb(0 0 0 / 25%);
}


.dark-theme{
    --primary-color:#0c0c0c;
    --secondary-color:#e2e2e2;
    --title-color:#f6f6f6;
    --hover-color:#f6f6f6;
    --navbar-shadow: 0 5px 10px rgba(255, 255, 255, 0.192);
} 


section[id]{
    scroll-margin-top:84px ;
}


input{display: none;}


input:checked ~ .navbar .nav-list {
    transform: translateX(0);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    width: fit-content;
}



button{
    font-family: 'Raleway', sans-serif;
    background-color: var(--primary-color);
    padding: 10px 25px;
    font-size: 22px;
    font-weight: 600;
    color: var(--secondary-color);
    border-radius: 5px;
    cursor: pointer;
    border: var(--secondary-color) 4px solid;
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
}

button:hover{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border:  var(--secondary-color) solid 4px;
    box-shadow: 0 7px 7px 0 #333333,0 7px 7px 0 #333333;
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    -moz-transform:translate(0px,5px);
}

.navbar .back-menu{
    position: fixed;
    top: 405px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    transition: 0.6s ease;
}


 .navbar{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    border-right:var(--secondary-color) 2px solid;
    width: 250px;
    background-color: var(--primary-color);
    gap: 20px;
}

.navbar .logo{
    display: flex;
    justify-content: center;
}

.navbar .logo a{
    font-size: 22px;
    color: var(--secondary-color);
    font-weight: bold;
}

.navbar .nav-list{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 0;
   
}

.navbar .bars__menu{
    display: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.navbar .bars__menu span {
    display: block;
    width: 100%;
    height: 2px;
    background: var(--secondary-color);
    margin-top: 6px;
    transform-origin: 0px 100%;
    transition: all 300ms;
}

.navbar .activeline1__bars-menu{
    transform: rotate(45deg) translate(-2px, 1px); 
}

.navbar .activeline2__bars-menu{
    opacity: 0;
    margin-left: -30px; 
}

.navbar .activeline3__bars-menu{
    transform: rotate(-45deg) translate(-4px, 2px);
}


.navbar .nav-item a{
    color: var(--secondary-color);
    font-size: 18px;
    font-weight: 600;
    transition: 0.3s ease;
}

.navbar .nav-item a:hover{
    font-size: 20px;
    color:var(--hover-color);
    font-weight: 900;
}

.navbar .nav-item a img{
    height: 35px;
    width: 35px;
    border-radius: 5px;
    transition: 0.3s ease;
}

.navbar .nav-item a img:hover{
    height: 38px;
    width: 38px
}

.navbar .dark-mode-btn,
.light-mode-btn{
    border: none;
    padding: 0;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.navbar .dark-mode-btn img,
.light-mode-btn img{
    height: 33px;
    width: 33px;
}

.navbar .dark-mode-btn img:hover,
.light-mode-btn img:hover{
    height: 35px;
    width: 35px;
}

.navbar .dark-mode-btn,
.light-mode-btn:hover{
    border: none;
    background: none;
    padding: none;
    box-shadow: none;
    transform: none;
   
}







#hero{
    display: flex;
    flex-direction: row;
    background-color: var(--primary-color);
    height: 900px;
    margin-left: 250px;
    
}

#hero .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    gap: 30px;
    padding: 0 80px;
    border-bottom:var(--secondary-color) 2px solid; 
    border-right: var(--secondary-color) 2px solid;
}

#hero  .title{
    font-size: 120px;
    width: 100%;
    margin: 0;
    font-weight: bold;
    color: var(--title-color);
    
}

#hero .text .tagline{
    color:var(--secondary-color);
    width: 80%;
    font-size: 30px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 15px;
}

#hero .image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    border-bottom:var(--secondary-color) 2px solid; 
    
}

#hero .image img{
    width: 100%;
    height: 100%;
}

#btf{
    display: flex;
    flex-direction: row;
    background-color: var(--primary-color);
    height: 500px;
    margin-left: 250px;
}

#btf .text{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
}

#btf .text .title{
    color:var(--title-color);
    font-size: 70px;
    margin: 0;
}

#btf .text p{
    color: var(--secondary-color);
    width: 65%;
    font-weight: 600;
    font-size: 22px;
    line-height: 40px;
}

#skills{
    display: none;
}

#work{
    display: flex;
    flex-direction: row;
    background-color: var(--primary-color);
    border-top: var(--secondary-color) 2px solid ;
    margin-left: 250px;
    
}

#work .projects{
    display: flex;
    flex-direction: column;
    width: 75%;
}

#work .projects .section-title{
    display: flex;
    align-items: center;
    height: 200px;
    border-bottom: 2px solid var(--secondary-color);
    border-right: 2px solid var(--secondary-color);
}

#work .projects .section-title h2{
    color: var(--title-color);
    font-size: 70px;
    padding: 0 80px;
    margin: 0;
}

#work .project{
    display: flex;
    flex-direction: row;
    border-right: 2px solid var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}

#work .project:nth-child(4){
    border-bottom: none;
}

#work .project .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    width: 70%;
    padding-left: 80px;
   
}

#work .project .text .title{
    color: var(--secondary-color);
    display: flex;
    flex-direction: row;
    align-items: center; 
    gap: 30px;
}

#work .project .text .title h3{
    font-size: 30px;
    font-weight: bolder;
    margin: 0;
}

#work .project .text .title h4{
    font-size: 20px;
    color: #868686;
    margin: 0;
}

#work .project .paragraph{
    width: 100%;
    
}
#work .project .paragraph p{
    color: var(--secondary-color);
    font-size: 16px;
    width: 85%;
    line-height: 24px;
}

#work .project .text a button{
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 600;
    border: 3px var(--secondary-color) solid;
   
}

#work .project .image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: auto;
    
}

#work .project .image img{
    height: 60%;
    width: 60%;
  
}

#work .skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
}

#work .skills h3{
    color: var(--title-color);
    font-size: 45px;
}


#work .skills .cards{
    display: grid;
    grid-template-columns: auto auto;
}

#work .skills .cards .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 40px;
    cursor: pointer;
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
}

#work .skills .cards .card:hover{
    transform: translatey(-15px);
    -webkit-transform: translatey(-15px);
    -moz-transform: translatey(-15px);
}

#work .skills .cards .card img{
    height: 50px;
    width: 50px;
    border-radius: 5px;
}

#work .skills .cards .card p{
    color: var(--secondary-color);
    font-size: 16px;
}


#about{
    display: flex;
    flex-direction: row;
    height:800px;
    margin-left: 250px;
    background-image: url(./images/89965d73-447b-4344-b393-da9bd03732ad.jpg);
    background-size: 100% 900px;
    background-repeat: no-repeat;
}

#about .container{
    width: 75%;
}

#about  .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: right;
    width: 25%;
    gap: 15px;
    padding-right: 40px;
   
}

#about .text h3{
    color: #0c0c0c;
    margin: 0;
    width:380px;
    font-size: 60px;
    font-weight: normal;
    line-height: 70px;
}

#about .text span{
    color: #0c0c0c;
    font-weight: bold;
    font-size: 62px;
}

#about  .text p{
    color: #1b1b1b;
    margin: 0;
    width: 380px;
    font-size: 19px;
    font-weight: 900;
    line-height: 32px;
}

#about .text a{
    width: 380px;
    margin-top: 10px;
}

#about .text a button{
    font-weight: 600;
    padding: 15px 30px;
    border: none;
    color: #e2e2e2;
    background-color: #1b1b1b;
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
}
#about .text a button:hover{
    background-color: #e2e2e2;
    color: #1b1b1b;
    box-shadow: 0 7px 7px 0 #333333,0 7px 7px 0 #333333;
    transform: translate(0px,3px);
    -webkit-transform: translate(0px,3px);
    -moz-transform:translate(0px,3px);
}


#footer{
    margin-left: 250px;
    height: 350px;
    display: flex;
    flex-direction: row;
    background-color: var(--primary-color);
}

#footer .contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    gap: 10px;
    border-right: 2px solid var(--secondary-color);
    padding: 0 40px;
}

#footer .contact h3{
    color: var(--title-color);
    margin: 0;
    font-weight: 700;
    font-size: 70px;
    line-height: 97px;
    text-align: center;
}

#footer .contact p{
    color: var(--secondary-color);
    margin: 0;
    width: 90%;
    height: 80px;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
}

#footer .contact p span{
    font-weight: bolder;
}

#footer .nav{
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
}

#footer .nav .nav-list{
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 50%;
}

#footer .nav .text-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50%;
    padding: 0 40px;
    gap: 20px;
    border-top: 2px solid var(--secondary-color);
    
}




#footer .nav .nav-list .nav-item a img{
    height: 33px;
    width: 33px;
    border-radius: 5px;
    transition: 0.3s ease;
}

#footer .nav .nav-list .nav-item a img:hover{
    height: 35px;
    width: 35px;
}




#footer .nav .text-right h4{
    margin: 0;
    font-size: 16px;
    font-weight:normal;
    line-height: 25px;
    color: var(--secondary-color);
    
}

#footer .nav .text-right p{
   margin: 0;
   font-size: 16px;
   color: var(--secondary-color);
}

@media screen and (max-width: 546px) {

    .navbar{
        height: 85px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 30px;
        border-right: none;
        border-bottom: 2px solid var(--secondary-color);
        transition: 0.5s ease;
    }

    .navbar.active{
        box-shadow: var(--navbar-shadow);
        transition: 0.5s;
    }

    .navbar .logo{
        margin-right: auto;
    }


    .navbar .nav-list .image{
        display: none;
    }

    input:checked ~ .navbar .back-menu{
        display: block;
    }

    .navbar .nav-list{
        display: flex;
        flex-direction: column;
        gap: 50px;
        position: absolute;
        justify-content: center;
        background: var(--primary-color);
        width: 100%;
        height: 320px;
        top: 85px;
        left: 0;
        margin: 0;
        transform: translateX(130%);
        border-bottom: var(--secondary-color) 2px solid;
        z-index: -1;
        transition: 0.8s ease;
    }

    .navbar .bars__menu {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar .theme-modes{
        flex-direction: row;
        margin-right: 15px;
      
    }

   
    #hero{
        margin: 0;
        height: 450px;
    }


    #hero .text{
        display: flex;
        justify-content: center;
        height: 100%;
        width: 100%;
        margin-top: 85px;
        padding: 0 30px;
        gap: 20px;
        border-right: none;
    }
   
    #hero .text .title{
        font-size: 50px;
        width: 300px;
    }

    #hero .text .tagline{
        font-size: 20px;
        width: 100%;
    }

    #hero .text button{
        padding: 8px 12px;
        font-size: 20px;
    }

    #hero .image{
        display: none;
    }

    #btf{
        margin: 0;
        height: 750px;
    }

    #btf .text{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 100px
    }

    #btf .text .title{
        font-size: 45px;
    }

    #btf .text p {
        width: 100%;
        margin: 0;
        padding: 20px 30px;
        font-size: 20px;
        line-height: 32px;
        font-weight: 500;
    }

    #skills{
        display: flex;
        flex-direction: column;
        height: 300px;
        background-color: var(--primary-color);
        border-top: 2px solid var(--secondary-color);
        padding: 30px 0;
    }

    #skills h3{
        color: var(--title-color);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        margin: 0 0 30px 0;
    }

    #skills .cards{
        display: grid;
        grid-template-columns: 33% 34% auto;
    }

    #skills .cards .card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #skills .cards .card p{
        color: var(--secondary-color);
    }

    #skills .cards .card img{
        height: 40px;
        width: 40px;
    }

    #work{
        margin: 0;
    }

    #work .skills{
        display: none;
    }

    #work .projects{
        width: 100%;
    }

    #work .projects .section-title {
        display: flex;
        align-items: center;
        height: 150px;
        border-bottom: 2px solid var(--secondary-color);
        border-right: none;
        padding: 0 30px;
    }

    #work .projects .section-title h2{
        padding: 0;
        font-size: 45px;
    }

    #work .project{
        border-right: none;
    }

    #work .project .image{
        display: none;
    }

    #work .projects .project .text{
        height: 400px;
        width: 100%;
        padding: 0 30px;
        gap: 10px;
    }

    #work .projects #right .text{
        align-items: flex-end;
        padding: 0 30px;
    }

    #work .projects #right .text .title{
        align-items: flex-end;
    }

    #work .projects .project .text .title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 10px;
    }

    #work .projects .project .text .title h3{
        font-size: 25px;
    }
    
    #work .projects .project .paragraph p {
        font-size: 14px;
        width: 100%;
        
      
    }

    #work .projects #right .paragraph p{
        padding-right: 0;
        text-align: right;
    }

    #work .project:nth-child(4){
        border-bottom: 2px solid var(--secondary-color);
    }

    #about{
        width: 100%;
        height: 800px;
        background-color: var(--primary-color);
        margin: 0;
        background-image: none;
        border-bottom: 2px solid var(--secondary-color);
    }
    
    #about .container{
        display: none;
    }

    #about .text{
        width: 100%;
        padding: 0 30px;
        text-align: left;
        align-items: flex-start;
    }
   
    #about .text h3{
        color: var(--secondary-color);
        width: 100%;
        font-size: 45px;
        line-height: 50px;
    }

    #about .text span{
        color: var(--secondary-color);
        font-size: 50px;
    }

    #about .text p{
        color: var(--secondary-color);
        width: auto;
    }
    #about .text a{
        width: auto;
    }
    #about .text a button{
        border: 4px solid #e2e2e2;
        background-color: #0c0c0c;
        padding: 10px 12px;
        font-size: 20px;
    }

    #footer{
        height: 750px;
        margin: 0;
        flex-direction: column;
    }

    #footer .contact{
        width: 100%;
        height: 60%;
        border-right: none;
        border-bottom: 2px solid var(--secondary-color);
        gap: 25px;
        padding: 0 20px;
    }

    #footer .contact h3{
        font-size: 45px;
        line-height: 50px;
    }

    #footer .contact p{
        height: auto;
        line-height: 32px;
    }

    #footer .nav{
        width: 100%;
        height: 40%;
    }

    #footer .nav .nav-list{
        height: 30%;
        gap: 40px;
    }

    #footer .nav .text-right{
        height: 70%;
        padding: 0 20px;
        text-align: center;
    }

}
    @media screen and (min-width: 546px) and (max-width:669px) {

        .navbar{
            height: 85px;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 0 40px;
            border-right: none;
            border-bottom: 2px solid var(--secondary-color);
            transition: 0.5s ease;
        }
    
        .navbar.active{
            box-shadow: 0 5px 10px rgb(0 0 0 / 25%);;
            transition: 0.5s;
        }
    
        .navbar .nav-list .image{
            display: none;
        }

        .navbar .logo{
            margin-right: auto;
        }
    
        input:checked ~ .navbar .back-menu{
            display: block;
        }
    
        .navbar .nav-list{
            display: flex;
            flex-direction: column;
            gap: 50px;
            position: absolute;
            justify-content: center;
            background: var(--primary-color);
            width: 100%;
            height: 320px;
            top: 85px;
            left: 0;
            margin: 0;
            transform: translateX(130%);
            border-bottom: var(--secondary-color) 2px solid;
            z-index: -1;
            transition: 1s ease;
        }
    
        .navbar .bars__menu {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    
        #hero{
            margin: 0;
            height: 450px;
        }
    
    
        #hero .text{
            display: flex;
            justify-content: center;
            height: 100%;
            width: 100%;
            margin-top: 85px;
            padding-left: 40px;
            gap: 20px;
            border-right: none;
        }
       
        #hero .text .title{
            font-size: 60px;
            width: 100%;
        }
    
        #hero .text .tagline{
            font-size: 20px;
            width: 70%;
        }
    
        #hero .text button{
            padding: 8px 12px;
            font-size: 20px;
        }
    
        #hero .image{
            display: none;
        }
    
        #btf{
            margin: 0;
            height: 550px;
        }
    
        #btf .text{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 100px
        }
    
        #btf .text .title{
            font-size: 50px;
        }
    
        #btf .text p {
            width: 100%;
            margin: 0;
            padding: 20px 30px;
            font-size: 20px;
            line-height: 32px;
            font-weight: 500;
        }

        
        #skills{
            display: flex;
            flex-direction: column;
            height: 400px;
            background-color: var(--primary-color);
            border-top: 2px solid var(--secondary-color);
            padding: 30px 0;
        }

        #skills h3{
            color: var(--title-color);
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 40px;
            margin: 40px 0;
        }

        #skills .cards{
            display: grid;
            grid-template-columns: 33% 34% auto;
        }

        #skills .cards .card{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        #skills .cards .card p{
            color: var(--secondary-color);
        }

        #skills .cards .card img{
            height: 50px;
            width: 50px;
        }
    
        #work{
            margin: 0;
        }
    
        #work .skills{
            display: none;
        }
    
        #work .projects{
            width: 100%;
        }
    
        #work .projects .section-title {
            display: flex;
            align-items: center;
            height: 150px;
            border-bottom: 2px solid var(--secondary-color);
            border-right: none;
            padding-left: 40px;
        }
    
        #work .projects .section-title h2{
            padding: 0;
            font-size: 50px;
        }
    
        #work .project{
            border-right: none;
        }
    
        #work .project .image{
            display: none;
        }
    
        #work .projects .project .text{
            height: 400px;
            width: 100%;
            padding: 0 40px;
            gap: 10px;
        }
    
        #work .projects #right .text{
            align-items: flex-end;
            padding: 0 40px;
        }

        #work .projects #right .text .title{
            align-items: flex-end;
        }
    
        #work .projects .project .text .title {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 10px;
        }
    
        #work .projects .project .text .title h3{
            font-size: 25px;
        }
        
        #work .projects .project .paragraph p {
            font-size: 14px;
            width: 100%;
          
        }
    
        #work .projects #right .paragraph p{
            
            padding-right: 0;
            text-align: right;
        }
    
        #work .project:nth-child(4){
            border-bottom: 2px solid var(--secondary-color);
        }
    
        #about{
            width: 100%;
            height: 600px;
            background-color: var(--primary-color);
            margin: 0;
            background-image: none;
            border-bottom: 2px solid var(--secondary-color);
        }
        
        #about .container{
        display: none;
        }
    
        #about .text{
            width: 100%;
            padding: 0 40px;
            text-align: left;
            align-items: flex-start;
        }
       
        #about .text h3{
            color: var(--secondary-color);
            width: 100%;
            font-size: 50px;
            line-height: 50px;
        }
    
        #about .text span{
            color: var(--secondary-color);
            font-size: 50px;
        }
    
        #about .text p{
            color: var(--secondary-color);
            width: auto;
        }
        #about .text a{
            width: auto;
        }
        #about .text a button{
            border: 4px solid #e2e2e2;
            background-color: #0c0c0c;
            padding: 10px 12px;
            font-size: 20px;
        }
    
        #footer{
            height: 750px;
            margin: 0;
            flex-direction: column;
        }
    
        #footer .contact{
            width: 100%;
            height: 60%;
            border-right: none;
            border-bottom: 2px solid var(--secondary-color);
            gap: 15px;
        }
    
        #footer .contact h3{
            font-size: 50px;
            line-height: 50px;
        }
    
        #footer .contact p{
            height: auto;
            line-height: 32px;
        }
    
        #footer .nav{
            width: 100%;
            height: 40%;
        }
    
        #footer .nav .nav-list{
            height: 30%;
            gap: 60px;
        }
    
        #footer .nav .text-right{
            height: 70%;
            text-align: center;
        }
    }    

    @media screen and (min-width: 669px) and (max-width:796px) {

        .navbar{
            height: 85px;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 0 40px;
            border-right: none;
            border-bottom: 2px solid var(--secondary-color);
            transition: 0.5s ease;
        }
    
        .navbar.active{
            box-shadow: 0 5px 10px rgb(0 0 0 / 25%);;
            transition: 0.5s;
        }
    
        .navbar .nav-list .image{
            display: none;
        }
        
        .navbar .logo{
            margin-right: auto;
        }

        input:checked ~ .navbar .back-menu{
            display: block;
        }
    
        .navbar .nav-list{
            display: flex;
            flex-direction: column;
            gap: 50px;
            position: absolute;
            justify-content: center;
            background: var(--primary-color);
            width: 100%;
            height: 320px;
            top: 85px;
            left: 0;
            margin: 0;
            transform: translateX(130%);
            border-bottom: var(--secondary-color) 2px solid;
            z-index: -1;
            transition: 1s ease;
        }
    
        .navbar .bars__menu {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    
    
        #hero{
            margin: 0;
            height: 450px;
        }
    
    
        #hero .text{
            display: flex;
            justify-content: center;
            height: 100%;
            width: 100%;
            margin-top: 85px;
            padding-left: 40px;
            gap: 20px;
            border-right: none;
        }
       
        #hero .text .title{
            font-size: 60px;
            width: 70%;
        }
    
        #hero .text .tagline{
            font-size: 20px;
            width: 55%;
        }
    
        #hero .text button{
            padding: 8px 12px;
            font-size: 20px;
        }
    
        #hero .image{
            display: none;
        }
    
        #btf{
            margin: 0;
            height: 550px;
        }
    
        #btf .text{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 85px
        }
    
        #btf .text .title{
            font-size: 50px;
        }
    
        #btf .text p {
            width: 100%;
            margin: 0;
            padding: 20px 30px;
            font-size: 20px;
            line-height: 32px;
            font-weight: 500;
        }

        #skills{
            display: flex;
            flex-direction: column;
            height: 300px;
            background-color: var(--primary-color);
            border-top: 2px solid var(--secondary-color);
            padding: 30px 0;
        }

        #skills h3{
            color: var(--title-color);
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 40px;
            margin: 30px 0;
        }

        #skills .cards{
           display: flex;
           flex-direction: row;
           justify-content: center;
           align-items: center;
           gap: 60px;
        }

        #skills .cards .card{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        #skills .cards .card p{
            color: var(--secondary-color);
        }

        #skills .cards .card img{
            height: 50px;
            width: 50px;
        }
    
        #work{
            margin: 0;
        }
    
        #work .skills{
            display: none;
        }
    
        #work .projects{
            width: 100%;
        }
    
        #work .projects .section-title {
            display: flex;
            align-items: center;
            height: 150px;
            border-bottom: 2px solid var(--secondary-color);
            border-right: none;
            padding-left: 40px;
        }
    
        #work .projects .section-title h2{
            padding: 0;
            font-size: 50px;
        }
    
        #work #right{
            flex-direction: row-reverse;
            justify-content: flex-end;
            
        }

        #work .project{
            width: 100%;
            border-right: none;
        }

    
        #work .project .image{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40%;
            height: 100%;
        }

        #work .project .image img {
            height: 70%;
            width: 70%;
            padding: 0;
        }
    
        #work .projects .project .text{
            height: 400px;
            width: 100%;
            padding-left: 40px;
            gap: 10px;
            width: 60%;
        }
    
        #work .projects #right .text{
            align-items: flex-end;
            padding-right: 40px;
            padding-left: 0;
        }

        #work .projects #right .text .title {
            align-items: flex-end;
        }
    
        #work .projects .project .text .title {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 10px;
        }
    
        #work .projects .project .text .title h3{
            font-size: 25px;
        }
        
        #work .projects .project .paragraph p {
            font-size: 14px;
            width: 100%;
            padding-right: 40px;
        }
    
        #work .projects #right .paragraph p{
            width: 100%;
            padding-left: 40px;
            padding-right: 0;
            text-align: right;
        }
    
        #work .project:nth-child(4){
            border-bottom: 2px solid var(--secondary-color);
        }
    
        #about{
            width: 100%;
            height: 600px;
            background-color: var(--primary-color);
            margin: 0;
            background-image: none;
            border-bottom: 2px solid var(--secondary-color);
        }
        
        #about .container{
        display: none;
        }
    
        #about .text{
            width: 100%;
            padding: 0 40px;
            text-align: left;
            align-items: flex-start;
        }
       
        #about .text h3{
            color: var(--secondary-color);
            width: 100%;
            font-size: 50px;
            line-height: 50px;
        }
    
        #about .text span{
            color: var(--secondary-color);
            font-size: 50px;
        }
    
        #about .text p{
            color: var(--secondary-color);
            width: auto;
        }
        #about .text a{
            width: auto;
        }
        #about .text a button{
            border: 4px solid #e2e2e2;
            background-color: #0c0c0c;
            padding: 10px 12px;
            font-size: 20px;
        }
    
        #footer{
            height: 650px;
            margin: 0;
            flex-direction: column;
        }
    
        #footer .contact{
            width: 100%;
            height: 60%;
            border-right: none;
            border-bottom: 2px solid var(--secondary-color);
            gap: 15px;
        }
    
        #footer .contact h3{
            font-size: 50px;
            line-height: 50px;
        }
    
        #footer .contact p{
            height: auto;
            line-height: 32px;
        }
    
        #footer .nav{
            width: 100%;
            height: 40%;
        }
    
        #footer .nav .nav-list{
            height: 30%;
            gap: 80px;
        }

        #footer .nav .nav-list .nav-item a{
            font-size: 18px;
            
        }
    
        #footer .nav .text-right{
            height: 70%;
            text-align: center;
        }
    }    

    @media screen and (min-width: 797px) and (max-width:927px) {

        .navbar{
            height: 85px;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 0 40px;
            border-right: none;
            border-bottom: 2px solid var(--secondary-color);
            transition: 0.5s ease;
        }
    
        .navbar.active{
            box-shadow: 0 5px 10px rgb(0 0 0 / 25%);;
            transition: 0.5s;
        }
    
        .navbar .nav-list .image{
            display: none;
        }
        
        .navbar .logo{
            margin-right: auto;
        }

        input:checked ~ .navbar .back-menu{
            display: block;
        }
    
        .navbar .nav-list{
            display: flex;
            flex-direction: column;
            gap: 50px;
            position: absolute;
            justify-content: center;
            background: var(--primary-color);
            width: 100%;
            height: 320px;
            top: 85px;
            left: 0;
            margin: 0;
            transform: translateX(130%);
            border-bottom: var(--secondary-color) 2px solid;
            z-index: -1;
            transition: 1s ease;
        }
    
        .navbar .bars__menu {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    
    
        #hero{
            margin: 0;
            height: 450px;
            width: 100%;
        }

        #hero .image{
            display: block;
            width: 50%;
            height: 100%;
            margin-top: 85px;
        }

        #hero .image img{
            width: 100%;
            height: 100%;
        }

        #hero .text{
            display: flex;
            justify-content: center;
            height: 100%;
            width: 50%;
            margin-top: 85px;
            padding: 0 40px;
            gap: 20px;
        }
       
        #hero .text .title{
            font-size: 60px;
            width: 100%;
        }
    
        #hero .text .tagline{
            font-size: 20px;
            width: 100%;
        }
    
        #hero .text button{
            padding: 8px 12px;
            font-size: 20px;
        }
    
    
        #btf{
            margin: 0;
            height: 550px;
        }
    
        #btf .text{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 85px
        }
    
        #btf .text .title{
            font-size: 50px;
        }
    
        #btf .text p {
            width: 100%;
            margin: 0;
            padding: 20px 30px;
            font-size: 20px;
            line-height: 32px;
            font-weight: 500;
        }
        
        #skills{
            display: flex;
            flex-direction: column;
            height: 300px;
            background-color: var(--primary-color);
            border-top: 2px solid var(--secondary-color);
            padding: 10px 0;
        }

        #skills h3{
            color: var(--title-color);
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 40px;
            margin: 40px 0;
        }

        #skills .cards{
           display: flex;
           flex-direction: row;
           justify-content: center;
           align-items: center;
           gap: 80px;
        }

        #skills .cards .card{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        #skills .cards .card p{
            color: var(--secondary-color);
        }

        #skills .cards .card img{
            height: 50px;
            width: 50px;
        }
    
        #work{
            margin: 0;
        }
    
        #work .skills{
            display: none;
        }
    
        #work .projects{
            width: 100%;
        }
    
        #work .projects .section-title {
            display: flex;
            align-items: center;
            height: 150px;
            border-bottom: 2px solid var(--secondary-color);
            border-right: none;
            padding-left: 40px;
        }
    
        #work .projects .section-title h2{
            padding: 0;
            font-size: 50px;
        }
    
        #work #right{
            flex-direction: row-reverse;
            justify-content: flex-end;
            
        }

        #work .project{
            width: 100%;
            border-right: none;
        }

    
        #work .project .image{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40%;
            height: 100%;
        }

        #work .project .image img {
            height: 70%;
            width: 70%;
            padding: 0;
        }
    
        #work .projects .project .text{
            height: 400px;
            width: 100%;
            padding-left: 40px;
            gap: 10px;
            width: 60%;
            
        }
    
        #work .projects #right .text{
            align-items: flex-end;
            padding-right: 40px;
            padding-left: 0;
        }

        #work .projects #right .text .title{
            align-items: flex-end;
        }
    
        #work .projects .project .text .title {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 10px;
        }
    
        #work .projects .project .text .title h3{
            font-size: 25px;
        }
        
        #work .projects .project .paragraph p {
            font-size: 14px;
            width: 100%;
            padding-right: 40px;
        }
    
        #work .projects #right .paragraph p{
            width: 100%;
            padding-left: 40px;
            padding-right: 0;
            text-align: right;
        }
    
        #work .project:nth-child(4){
            border-bottom: 2px solid var(--secondary-color);
        }
    
        #about{
            width: 100%;
            height: 500px;
            background-color: var(--primary-color);
            margin: 0;
            background-image: none;
            border-bottom: 2px solid var(--secondary-color);
        }
        
        #about .container{
        display: none;
        }
    
        #about .text{
            width: 100%;
            padding: 0 40px;
            text-align: left;
            align-items: flex-start;
        }
       
        #about .text h3{
            color: var(--secondary-color);
            width: 100%;
            font-size: 50px;
            line-height: 50px;
        }
    
        #about .text span{
            color: var(--secondary-color);
            font-size: 50px;
        }
    
        #about .text p{
            color: var(--secondary-color);
            width: auto;
        }
        #about .text a{
            width: auto;
        }
        #about .text a button{
            border: 4px solid #e2e2e2;
            background-color: #0c0c0c;
            padding: 10px 12px;
            font-size: 20px;
        }
    
        #footer{
            height: 650px;
            margin: 0;
            flex-direction: column;
        }
    
        #footer .contact{
            width: 100%;
            height: 50%;
            border-right: none;
            border-bottom: 2px solid var(--secondary-color);
            gap: 15px;
        }
    
        #footer .contact h3{
            font-size: 50px;
            line-height: 50px;
        }
    
        #footer .contact p{
            height: auto;
            line-height: 32px;
        }
    
        #footer .nav{
            width: 100%;
            height: 50%;
        }
    
        #footer .nav .nav-list{
            height: 30%;
            gap: 80px;
           
        }

    
        #footer .nav .text-right{
            height: 70%;
            align-items: center;
        }

        #footer .nav .text-right h4{
            font-size: 20px;
        }

        #footer .nav .text-right p{
            font-size: 20px;
        }
    }    

    @media screen and (min-width: 928px) and (max-width:1024px) {

        .navbar{
            height: 85px;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 0 40px;
            border-right: none;
            border-bottom: 2px solid var(--secondary-color);
            transition: 0.5s ease;
        }
    
        .navbar.active{
            box-shadow: 0 5px 10px rgb(0 0 0 / 25%);;
            transition: 0.5s;
        }
    
        .navbar .nav-list .image{
            display: none;
        }

        .navbar .logo{
            margin-right: auto;
        }
    
        input:checked ~ .navbar .back-menu{
            display: block;
        }
    
        .navbar .nav-list{
            display: flex;
            flex-direction: column;
            gap: 50px;
            position: absolute;
            justify-content: center;
            background: var(--primary-color);
            width: 100%;
            height: 320px;
            top: 85px;
            left: 0;
            margin: 0;
            transform: translateX(130%);
            border-bottom: var(--secondary-color) 2px solid;
            z-index: -1;
            transition: 1s ease;
        }
    
        .navbar .bars__menu {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    
    
        #hero{
            margin: 0;
            height: 450px;
            width: 100%;
        }

        #hero .image{
            display: block;
            width: 50%;
            height: 100%;
            margin-top: 85px;
        }

        #hero .image img{
            width: 100%;
            height: 100%;
        }

        #hero .text{
            display: flex;
            justify-content: center;
            height: 100%;
            width: 50%;
            margin-top: 85px;
            padding-left: 40px;
            gap: 20px;
        }
       
        #hero .text .title{
            font-size: 60px;
            width: 100%;
        }
    
        #hero .text .tagline{
            font-size: 20px;
            width: 100%;
        }
    
        #hero .text button{
            padding: 8px 12px;
            font-size: 20px;
        }
    
       
    
        #btf{
            margin: 0;
            height: 550px;
        }
    
        #btf .text{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 85px
        }
    
        #btf .text .title{
            font-size: 50px;
        }
    
        #btf .text p {
            width: 100%;
            margin: 0;
            padding: 20px 60px;
            font-size: 20px;
            line-height: 32px;
            font-weight: 500;
        }

        #skills{
            display: flex;
            flex-direction: column;
            height: 300px;
            background-color: var(--primary-color);
            border-top: 2px solid var(--secondary-color);
            padding: 10px 0;
        }

        #skills h3{
            color: var(--title-color);
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 40px;
            margin: 40px 0;
        }

        #skills .cards{
           display: flex;
           flex-direction: row;
           justify-content: center;
           align-items: center;
           gap: 80px;
        }

        #skills .cards .card{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        #skills .cards .card p{
            color: var(--secondary-color);
        }

        #skills .cards .card img{
            height: 50px;
            width: 50px;
        }
    
        #work{
            margin: 0;
        }
    
        #work .skills{
            display: none;
        }
    
        #work .projects{
            width: 100%;
        }
    
        #work .projects .section-title {
            display: flex;
            align-items: center;
            height: 150px;
            border-bottom: 2px solid var(--secondary-color);
            border-right: none;
            padding-left: 40px;
        }
    
        #work .projects .section-title h2{
            padding: 0;
            font-size: 50px;
        }
    
        #work #right{
            flex-direction: row-reverse;
            justify-content: flex-end;
        }

        #work #right .title{
            align-items: flex-end;
        }

        #work .project{
            width: 100%;
            border-right: none;
        }

    
        #work .project .image{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40%;
            height: 100%;
        }

        #work .project .image img {
            height: 70%;
            width: 70%;
            padding: 0;
        }
    
        #work .projects .project .text{
            height: 400px;
            width: 100%;
            padding-left: 40px;
            gap: 10px;
            width: 60%;
            
        }
    
        #work .projects #right .text{
            align-items: flex-end;
            padding-right: 40px;
            padding-left: 0;
        }
    
        #work .projects .project .text .title {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 10px;
        }
    
        #work .projects .project .text .title h3{
            font-size: 25px;
        }
        
        #work .projects .project .paragraph p {
            font-size: 16px;
            width: 100%;
            padding-right: 40px;
        }
    
        #work .projects #right .paragraph p{
            width: 100%;
            padding-left: 40px;
            padding-right: 0;
            text-align: right;
        }
    
        #work .project:nth-child(4){
            border-bottom: 2px solid var(--secondary-color);
        }
    
        #about{
            width: 100%;
            height: 500px;
            background-color: var(--primary-color);
            margin: 0;
            background-image: none;
            border-bottom: 2px solid var(--secondary-color);
        }
        
        #about .container{
        display: none;
        }
    
        #about .text{
            width: 100%;
            padding: 0 40px;
            text-align: left;
            align-items: flex-start;
        }
       
        #about .text h3{
            color: var(--secondary-color);
            width: 100%;
            font-size: 50px;
            line-height: 50px;
        }
    
        #about .text span{
            color: var(--secondary-color);
            font-size: 50px;
        }
    
        #about .text p{
            color: var(--secondary-color);
            width: auto;
        }
        #about .text a{
            width: auto;
        }
        #about .text a button{
            border: 4px solid #e2e2e2;
            background-color: #0c0c0c;
            padding: 10px 12px;
            font-size: 20px;

        }
    
        #footer{
            height: 650px;
            margin: 0;
            flex-direction: column;
        }
    
        #footer .contact{
            width: 100%;
            height: 50%;
            border-right: none;
            border-bottom: 2px solid var(--secondary-color);
            gap: 15px;
        }
    
        #footer .contact h3{
            font-size: 50px;
            line-height: 50px;
        }
    
        #footer .contact p{
            height: auto;
            line-height: 32px;
        }
    
        #footer .nav{
            width: 100%;
            height: 50%;
        }
    
        #footer .nav .nav-list{
            height: 30%;
            gap: 80px;
        }

      
    
        #footer .nav .text-right{
            height: 70%;
            align-items: center;
        }

        #footer .nav .text-right h4{
            font-size: 20px;
        }

        #footer .nav .text-right p{
            font-size: 20px;
        }
    }    

    @media screen and (min-width: 1025px) and (max-width: 1400px){

        button{
            padding: 8px 15px;
            font-size: 20px;
        }

        .navbar{
            width: 200px;
        }

        .navbar .logo a {
            font-size: 20px;
        }

        #hero{
            height: 650px;
            margin-left: 200px;
        }

        #hero .text {
            height: auto;
            gap: 20px;
            padding: 0 40px;
        }

        #hero .title{
            font-size: 75px;
            width: 100%;
        }

        #hero .text .tagline {
            width: 90%;
            font-size: 20px;
        }

        #btf{
            height: 380px;
            margin-left: 200px;
        }

        #btf .text .title{
            font-size: 50px;
        }

        #btf .text p{
            font-size: 18px;
            line-height: 30px;
        }

        #work{
            margin-left: 200px;
        }

        #work .projects .section-title{
            height: 100px;
        }

        #work .projects .section-title h2{
            font-size: 50px;
            padding-left: 40px;
        }

        #work .project .text{
            padding-left: 40px;

        }

        #work .project .text .title h3 {
            font-size: 25px;
        }

        #work .project .text .title h4 {
            font-size: 15px;
        }

        #work .project .paragraph p {
            font-size: 14px;
            width: 90%;
        }

        #work .project .text a button {
            padding: 6px 16px;
            font-size: 14px;
        }

        #work .project .image img {
            height: 100%;
            width: 100%;
            padding-right: 40px;
        }

        #work .skills h3 {
            font-size: 35px;
        }
        
        #work .skills .cards .card{
            padding: 40px 30px;
        }

        #about{
            height: 600px;
            margin-left: 200px;
            background-image: url(./images/89965d73-447b-4344-b393-da9bd03732ad.jpg);
            background-size: 100% 600px;
        }

        #about .text {
            gap: 10px;
            padding-right: 20px;
            align-items: flex-end;
        }

        #about .text h3 {
            width: auto;
            font-size: 38px;
            line-height: normal;
        }

        #about .text span{
            font-size: 40px;
        }

        #about .text p {
            width: auto;
            font-size: 14px;
            line-height: 16px;
        }

        #about .text a{
            width: auto;
        }

        #about .text a button{
            padding: 8px 15px;
            font-size: 20px;
        }

        #footer{
            height: 300px;
            margin-left: 200px;
        }

        #footer .contact{
            gap: 0;
        }

        #footer .contact h3{
            font-size: 50px;
        }

        #footer .contact p{
            font-size: 18px;
            line-height: 30px;
        }

        #footer .nav .nav-list{
            gap: 20px;
        }

        #footer .nav .nav-list .nav-item a{
            font-size: 14px;
        }

        #footer .nav .nav-list .nav-item a img{
            height: 30px;
            width: 30px;
        }


        #footer .nav .text-right{
            padding: 0 15px;
        }

        #footer .nav .text-right h4{
            font-size: 14px;
        }

        #footer .nav .text-right p{
            font-size: 14px;
        }

    } 
    
    @media screen and (min-width: 1401px) and (max-width: 1600px){

        button{
            padding: 8px 15px;
            font-size: 20px;
        }

        .navbar{
            width: 250px;
        }

        .navbar .logo a {
            font-size: 22px;
        }

        #hero{
            height: 750px;
            margin-left: 250px;
        }

        #hero .text {
            height: auto;
            gap: 20px;
            padding: 0 40px;
        }

        #hero .title{
            font-size: 100px;
            width: 100%;
        }

        #hero .text .tagline {
            width: 80%;
            font-size: 20px;
        }

        #btf{
            height: 450px;
            margin-left: 250px;
        }

        #btf .text .title{
            font-size: 60px;
        }

        #btf .text p{
            font-size: 22px;
            line-height: 40px;
        }

        #work{
            margin-left: 250px;
        }

        #work .projects .section-title{
            height: 150px;
        }

        #work .projects .section-title h2{
            font-size: 60px;
            padding-left: 40px;
        }

        #work .project .text{
            padding-left: 40px;
        }

        #work .project .text .title h3 {
            font-size: 30px;
        }

        #work .project .text .title h4 {
            font-size: 20px;
        }

        #work .project .paragraph p {
            font-size: 16px;
        }

        #work .project .image img {
            height: 90%;
            width: 90%;
            padding-right: 40px;
        }


        #work .project .text a button {
            padding: 8px 20px;
            font-size: 16px;
        }

        #work .skills h3 {
            font-size: 35px;
        }

        #about{
            height: 700px;
            margin-left: 250px;
            background-image: url(./images/89965d73-447b-4344-b393-da9bd03732ad.jpg);
            background-size: 100% 700px;
        }

        #about .text {
            gap: 10px;
            padding-right: 30px;
            align-items: flex-end;
        }

        #about .text h3 {
            width: auto;
            font-size: 50px;
            line-height: normal;
        }

        #about .text span{
            font-size: 52px;
        }

        #about .text p {
            width: auto;
            font-size: 16px;
            line-height: 24px;
        }

        #about .text a{
            width: auto;
        }

        #about .text a button{
            padding: 10px 15px;
            font-size: 20px;
        }

        #footer{
            height: 350px;
            margin-left: 250px;
        }

        #footer .contact{
            gap: 10px;
        }

        #footer .contact h3{
            font-size: 60px;
        }

        #footer .contact p{
            font-size: 22px;
            line-height: 36px;
        }

        #footer .nav .nav-list{
            gap: 20px;
        }

        #footer .nav .nav-list .nav-item a{
            font-size: 16px;
        }

        #footer .nav .text-right{
            padding: 0 15px;
        }

        #footer .nav .text-right h4{
            font-size: 16px;
        }

        #footer .nav .text-right p{
            font-size: 16px;
        }
    }
       
        


    @media screen and (min-width: 1601px) and (max-width: 1699px){

        #hero{
            height: 800px;
        }

        #hero .title{
            font-size: 110px;
            width: 100%;
        }

        #work .project .image img {
            height: 90%;
            width: 90%;
            padding-right: 40px;
        }

        #about .text{
            padding: 0 30px;
            align-items: flex-end;
        }

        #about .text h3{
           width: auto;
            font-size: 58px;
        }

        #about .text span{
            font-size: 62px;
        }

        #about .text p{
            width: auto;
            font-size: 16px;
            line-height: 28px;
        }

        #footer .nav .nav-list{
            gap: 20px;
        }
        
    }

            
    

    


   


